<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <div class="welcome mt-1 mb-4">
        <p class="mySticky bg-gray text-dark user" th:text="${animal.name +  ' ' + 'Profile'}"></p>
        <div class="row mt-1 mb-2">
            <div class="col-6 mt-1 mb-1">
                <p  th:text="'Name: '+ ${animal.name}"></p>
                <p  th:text="'Info: '+ ${animal.information}"></p>
                <p  th:text="'Gender: '+ ${animal.gender.name()}"></p>
            </div>
        </div>
        <div  class="row mt-1 mb-2">
            <a th:href="@{'/animals/' + ${animal.id} + '/profile'}">edit animal profile</a>
            <a th:href="@{'/animals/' + ${animal.id} + '/profile'}">add action</a>
            <a th:href="@{'/animals/' + ${animal.id} + '/profile'}">add health record</a>
        </div>
    </div>


    <div class="welcome mt-1 mb-4">
        <div class="row mt-1 mb-2">
            <div class="col-6 mt-1 mb-1">
            <div class="home-fields" style="height: 58vh; overflow: auto">
                <h3 class="all-animals">All actions</h3>
                <ul class="list-group list-group-vertical text-dark">


                    <table class="styled-table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Created On</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="action : ${animal.actions}">
                            <td th:text="${action.id}"></td>
                            <td>
                                <p th:text="${action.type.name()}"></p>
                            </td>
                            <td th:text="${action.description}"></td>
                            <td th:text="${#temporals.format(action.createdOn, 'dd MMM YYYY HH:mm')}"></td>
                        </tr>
                        </tbody>
                    </table>
            </div>

            </div>

            </div>

                <div>
                    add new action
                    <form class="welcome login" th:method="POST" th:action="@{'/actions/' + ${animal.id} + '/new'}" th:object="${actionRequest}">

                        <div class="form-group">
                            <div class="text-white label-holder d-flex justify-content-center">
                                <label for="type" class="h4 mb-2">Type</label>
                            </div>
                            <select class="browser-default custom-select" id="type" name="style" th:field="*{type}">
                                <option th:each="type : ${T(app.action.model.Type).values()}" th:value="${type}" th:text="${#strings.capitalize(#strings.toLowerCase(type))}"></option>
                            </select>
                            <small th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="danger" style="font-size: 15px">Error Here</small>
                        </div>

                        <div class="form-group">
                            <div class="label-holder text-white textCol d-flex justify-content-center">
                                <label for="description" class="h4 mb-2">Description</label>
                            </div>
                            <input type="text" class="form-control" id="description" name="description" th:field="*{description}"/>
                            <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="danger">Error message</small>
                        </div>

                        <div class="button-holder d-flex justify-content-center">
                            <button type="submit" value="Register">Add action</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>



            <div class="col-6 mt-1 mb-1">
            <div class="home-fields" style="height: 58vh; overflow: auto">
                <h3 class="all-animals">All animal records</h3>
                <ul class="list-group list-group-vertical text-dark">

                    <li th:each="record : ${animal.healthRecords}" >
                        <div class="my-paintings-first-row">
                            <p th:text="${record.id}"></p>
                            <p th:text="${record.description}"></p>
                            <p th:text="${record.veterinaryInformation}"></p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
