<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Animal Form</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-image: url('/img/background-1.jpg'); background-size: cover; background-repeat: no-repeat;">
<h1>Animal Information</h1>

<form th:action="@{'/animals/' + ${animal.id} + '/edit-profile'}" th:object="${animalEditRequest}" th:method="PUT">
<!--  <input type="hidden" th:field="*{animal.id}" />-->

  <div>
    <label for="type">Type:</label>
    <select id="type" name="type" th:field="*{type}">
      <option value="">Select Type</option>
      <option th:each="type : ${T(app.animal.model.Type}" th:value="${type}" th:text="${type}"></option>
    </select>
  </div>

  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:field="*{name}" />
  </div>

  <div>
    <label for="estimateDateOfBirth">Estimated Date of Birth:</label>
    <input type="date" id="estimateDateOfBirth" name="estimateDateOfBirth" th:field="*{estimateDateOfBirth}" />
  </div>

  <div>
    <label for="gender">Gender:</label>
    <select id="gender" name="gender" th:field="*{gender}">
      <option value="">Select Gender</option>
      <option th:each="gender : ${T(app.animal.model.Gender).values()}" th:value="${gender}" th:text="${gender}"></option>
    </select>
  </div>

  <div>
    <label for="isNeutered">Neutered:</label>
    <input type="checkbox" id="isNeutered" name="isNeutered" th:field="*{isNeutered}" />
  </div>

  <div>
    <label for="status">Status:</label>
    <select id="status" name="status" th:field="*{status}">
      <option value="">Select Status</option>
      <option th:each="status : ${T(app.animal.model.Status).values()}" th:value="${status}" th:text="${status}"></option>
    </select>
  </div>

  <div>
    <label for="information">Information:</label>
    <textarea id="information" name="information" th:field="*{information}"></textarea>
  </div>

  <div>
    <label for="latitude">Latitude:</label>
    <input type="text" id="latitude" name="location.latitude" th:field="*{location.latitude}" />
  </div>

  <div>
    <label for="longitude">Longitude:</label>
    <input type="text" id="longitude" name="location.longitude" th:field="*{location.longitude}" />
  </div>

  <div>
    <label for="address">Address:</label>
    <input type="text" id="address" name="location.address" th:field="*{location.address}" />
  </div>

  <div>
    <button type="submit">Save Animal</button>
  </div>
</form>

</body>
</html>