<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
  <div class="welcome mt-1 mb-4">
    <h2 class="mySticky text-dark user" th:text="'Edit ' + ${#strings.capitalize(#strings.toLowerCase(animal.name)) + ' Profile'}"></h2>

    <div class="form-group">
      <label>Profile picture</label>
        <div>
          <img alt="" th:src="${#strings.isEmpty(animal.profilePicture) ? 'https://www.shutterstock.com/image-illustration/cute-dog-hugs-cat-illustration-260nw-1125945152.jpg' : 'http://localhost:8081/api/v1/pictures/view/' + animal.profilePicture }" style="width: 180px" />
        </div>
        <th:block th:if="${#strings.isEmpty(animal.profilePicture)}">
          <div>
            <form th:action="@{'/animals/' + ${animal.id} + '/picture/profile'}" th:method="PUT" enctype="multipart/form-data" th:object="${animalEditProfilePictureFileUploadRequest}">
              <label for="profilePictureFile">Add New Profile Picture</label>
              <input type="file" id="profilePictureFile" name="file" class="form-control" />
              <small th:if="${#fields.hasErrors('file')}" th:errors="*{file}" class="danger">Error message</small>
              <button type="submit" class="btn btn-sm btn-outline-error">upload</button>
            </form>
          </div>
        </th:block>
        <th:block th:unless="${#strings.isEmpty(animal.profilePicture)}">
          <div>
            <form th:action="@{'/animals/' + ${animal.id} + '/picture/profile/'+ ${animal.profilePicture}}" th:method="DELETE">
              <button type="submit" class="btn btn-sm btn-outline-error">delete</button>
            </form>
          </div>
        </th:block>
    </div>

    <form id="edit-animal-form" th:action="@{'/animals/' + ${animal.id} + '/edit-profile'}" th:method="PUT" th:object="${animalEditRequest}">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" th:field="*{name}" />
        <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="danger">Error message</small>
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" id="type" th:field="*{type}">
          <option th:each="type : ${T(app.animal.model.Type).values()}" th:value="${type}" th:text="${#strings.capitalize(#strings.toLowerCase(type))}"></option>
        </select>
        <small th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="danger">Error message</small>
      </div>

      <div class="form-group">
        <label for="status">Status</label>
        <select class="form-control" id="status" th:field="*{status}">
          <option th:each="status : ${T(app.animal.model.Status).values()}" th:value="${status}" th:text="${#strings.capitalize(#strings.toLowerCase(status))}"></option>
        </select>
        <small th:if="${#fields.hasErrors('status')}" th:errors="*{status}" class="danger">Error message</small>
      </div>

      <div class="form-group">
        <label for="gender">Gender</label>
        <select class="form-control" id="gender" th:field="*{gender}">
          <option th:each="gender : ${T(app.animal.model.Gender).values()}" th:value="${gender}" th:text="${#strings.capitalize(#strings.toLowerCase(gender))}"></option>
        </select>
        <small th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="danger">Error message</small>
      </div>

      <div class="form-group">
        <label for="estimateDateOfBirth">Estimated Date of Birth</label>
        <input type="date" class="form-control" id="estimateDateOfBirth" th:field="*{estimateDateOfBirth}" />
        <small th:if="${#fields.hasErrors('estimateDateOfBirth')}" th:errors="*{estimateDateOfBirth}" class="danger">Error message</small>
      </div>

      <div class="form-group">
        <label for="neutered">Is Neutered</label>
        <ul>
          <li class="border-0">
            <input type="checkbox" id="neutered" name="neutered" th:checked="${animalEditRequest.neutered}" />
            Yes
          </li>
        </ul>
        <small th:if="${#fields.hasErrors('neutered')}" th:errors="*{neutered}" class="danger" style="font-size: 15px">Error Here</small>
      </div>

      <div class="form-group">
        <label for="information">Information</label>
        <textarea class="form-control" id="information" th:field="*{information}"></textarea>
        <small th:if="${#fields.hasErrors('information')}" th:errors="*{information}" class="danger">Error message</small>
      </div>

      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" id="country" th:field="*{country}" />
        <small th:if="${#fields.hasErrors('country')}" th:errors="*{country}" class="danger">Error message</small>
      </div>

      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" th:field="*{city}" />
        <small th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="danger">Error message</small>
      </div>

      <div class="form-group">
        <label for="neighborhood">Neighborhood</label>
        <input type="text" class="form-control" id="neighborhood" th:field="*{neighborhood}" />
        <small th:if="${#fields.hasErrors('neighborhood')}" th:errors="*{neighborhood}" class="danger">Error message</small>
      </div>



    </form>
    <div class="form-group">
      <div>
        <label for="neighborhood">Gallery</label>
      </div>
      <div th:each="pic : ${animal.pictures}" class="d-inline-block">
        <img alt="" th:src="${ 'http://localhost:8081/api/v1/pictures/view/' + pic.storedPictureId }" style="width: 80px" />
        <form
                id="delete-image-form"
                th:method="DELETE"
                th:action="@{'/animals/' + ${animal.id} + '/picture/' + ${pic.id}}">
          <button class="btn btn-sm btn-outline-error" type="submit">
            delete
          </button>
        </form>
      </div>
      <div class="form-group">
        <form th:action="@{'/animals/' + ${animal.id} + '/picture'}" th:method="POST" th:object="${animalEditFileUploadRequest}" enctype="multipart/form-data">
          <div class="label-holder textCol d-flex justify-content-center">
            <label for="neighborhood">add more pictures</label>
          </div>
          <input type="file" multiple class="form-control" id="animalPictures" name="animalPictures"/>
          <small th:if="${#fields.hasErrors('animalPictures')}" th:errors="*{animalPictures}" class="danger" style="font-size: 15px">Error Here</small>
          <button class="btn btn-sm btn-outline-error" type="submit">
            upload
          </button>
        </form>
      </div>
    </div>
    <button type="submit" form="edit-animal-form" class="btn btn-primary">Save Changes</button>
    <a th:href="@{'/animals/' + ${animal.id} + '/profile'}" class="btn btn-secondary">Cancel</a>
  </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>