<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
  <div class="welcome mt-1 mb-4" style="width: 90%; margin: 0 auto;">
    <h3 class="mySticky text-dark user" th:text="${(user.firstName != null && !user.firstName.isBlank()) ? 'Editing ' + user.firstName + ' ' + user.lastName + ' Profile' : user.username + ' Profile'}"></h3>

    <div class="mt-1 mb-2">
      <div class="form-group">
        <label>Profile picture</label>
        <div>
          <img alt="" th:src="${#strings.isEmpty(user.profilePicture) ? 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png' : 'http://localhost:8081/api/v1/pictures/view/' + user.profilePicture }" style="width: 180px" />

        </div>
        <th:block th:if="${#strings.isEmpty(user.profilePicture)}">
          <div>
            <form th:action="@{'/users/' + ${user.id} + '/picture/profile'}" th:method="PUT" enctype="multipart/form-data" th:object="${singleFileUploadRequest}">
              <label for="profilePictureFile">Add New Profile Picture</label>
              <input type="file" id="profilePictureFile" name="file" th:field="*{file}" class="form-control" />
              <small th:if="${#fields.hasErrors('file')}" th:errors="*{file}" class="text-danger">Error message</small>
              <button type="submit" class="btn btn-sm btn-outline-error">Upload</button>
            </form>
          </div>
        </th:block>
        <th:block th:unless="${#strings.isEmpty(user.profilePicture)}">
          <div>
            <form th:action="@{'/users/' + ${user.id} + '/picture/profile/' + ${user.profilePicture}}" th:method="DELETE">
              <button type="submit" class="btn btn-sm btn-outline-error">delete</button>
            </form>
          </div>
        </th:block>
      </div>
      <form th:action="@{'/users/' + ${user.id} + '/edit-profile'}" th:object="${userEditRequest}" enctype="multipart/form-data" th:method="PUT">

        <div class="form-group">
          <p th:text="'User Id: '+ ${user.id}"></p>
          <p th:text="'Username: '+ ${user.username}"></p>
          <p th:text="'Last profile update: '+ ${#temporals.format(user.updatedOn, 'dd MMM YYYY HH:mm')}"></p>
        </div>

        <div class="form-group">
          <label for="firstName">First Name:</label>
          <input type="text" id="firstName" name="firstName" th:field="*{firstName}" class="form-control" />
          <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger">Error message</small>

        </div>
        <div class="form-group">
          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" name="lastName" th:field="*{lastName}" class="form-control" />
          <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger">Error message</small>

        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" th:field="*{email}" class="form-control" />
          <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="danger">Error message</small>

        </div>
        <div class="form-group">
          <label for="phoneNumber">Phone Number:</label>
          <input type="tel" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}" class="form-control" />
          <small th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="text-danger">Error message</small>

        </div>
        <div class="form-group">
          <label for="country">Country:</label>
          <input type="text" id="country" name="country" th:field="*{country}" th:classappend="@{'form-control ' + ${#fields.hasErrors('country') ? 'is-invalid' : ''} }" />
          <small th:if="${#fields.hasErrors('country')}" th:errors="*{country}" class="text-danger">Error message</small>
        </div>
        <div class="form-group">
          <label for="city">City:</label>
          <input type="text" id="city" name="city" th:field="*{city}" th:classappend="@{'form-control ' + ${#fields.hasErrors('city') ? 'is-invalid' : ''} }"  />
          <small th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="text-danger">Error message</small>
        </div>
        <div class="form-group">
          <label for="neighborhood">Neighborhood:</label>
          <input type="text" id="neighborhood" name="neighborhood" th:field="*{neighborhood}" th:classappend="@{'form-control ' + ${#fields.hasErrors('neighborhood') ? 'is-invalid' : ''} }" />
          <small th:if="${#fields.hasErrors('neighborhood')}" th:errors="*{neighborhood}" class="text-danger">Error message</small>
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
          <a th:href="@{'/users/' + ${user.id} + '/profile'}" class="btn btn-secondary">Cancel</a>
      </form>
    </div>
  </div>

</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>