<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body style="background-image: url('/img/background-1.jpg'); background-size: cover; background-repeat: no-repeat;">
<header th:replace="fragments/commons::nav"></header>
<main>

    <form class="welcome" th:method="POST" th:action="@{/animals}" th:object="${animalRequest}">

        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add Animal</span></h1>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="name" class="h4 mb-2">Name</label>
            </div>
            <input type="text" class="form-control" id="name" name="name" th:field="*{name}"/>
            <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="danger">Error Here</small>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="type" class="h4 mb-2">Type</label>
            </div>
            <select class="browser-default custom-select" id="type" name="style" th:field="*{type}">
                <option th:each="type : ${T(app.animal.model.Type).values()}" th:value="${type}" th:text="${#strings.capitalize(#strings.toLowerCase(type))}">A</option>
            </select>
            <small th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="danger" style="font-size: 15px">Error Here</small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="estimateDateOfBirth" class="h4 mb-2">Estimate Date Of Birth</label>
            </div>
            <input type="date" placeholder="Date" id="estimateDateOfBirth" name="estimateDateOfBirth" th:field="*{estimateDateOfBirth}">
            <p th:if="${#fields.hasErrors('estimateDateOfBirth')}" th:errors="*{estimateDateOfBirth}" class="text-warning">Error Text Here</p>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="gender" class="h4 mb-2">Gender</label>
            </div>
            <select class="browser-default custom-select" id="gender" name="style" th:field="*{gender}">
                <option th:each="gender : ${T(app.animal.model.Gender).values()}" th:value="${gender}" th:text="${#strings.capitalize(#strings.toLowerCase(gender))}">A</option>
            </select>
            <small th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="danger" style="font-size: 15px">Error Here</small>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="neutered" class="h4 mb-2">Is Neutered</label>
            </div>
            <ul>
                    <input type="checkbox" id="neutered" name="neutered" th:checked="${animalRequest.neutered}" />
                Yes
            </ul>
<!--            <select class="browser-default custom-select" id="neutered" name="style" th:field="*{neutered}">-->
<!--                <option th:each="neutered : ${T(app.animal.).values()}" th:value="${neutered}" th:text="${neutered}">A</option>-->
<!--            </select>-->
            <small th:if="${#fields.hasErrors('neutered')}" th:errors="*{neutered}" class="danger" style="font-size: 15px">Error Here</small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="information" class="h4 mb-2">Information</label>
            </div>
            <input type="text" class="form-control" id="information" name="author" th:field="*{information}"/>
            <small th:if="${#fields.hasErrors('information')}" th:errors="*{information}" class="danger" style="font-size: 15px">Error Here</small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="country" class="h4 mb-2">Country</label>
            </div>
            <input type="text" class="form-control" id="country" name="author" th:field="*{country}"/>
            <small th:if="${#fields.hasErrors('country')}" th:errors="*{country}" class="danger" style="font-size: 15px">Error Here</small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="city" class="h4 mb-2">City</label>
            </div>
            <input type="text" class="form-control" id="city" name="author" th:field="*{city}"/>
            <small th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="danger" style="font-size: 15px">Error Here</small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="neighborhood" class="h4 mb-2">Neighborhood</label>
            </div>
            <input type="text" class="form-control" id="neighborhood" name="author" th:field="*{neighborhood}"/>
            <small th:if="${#fields.hasErrors('neighborhood')}" th:errors="*{neighborhood}" class="danger" style="font-size: 15px">Error Here</small>
        </div>



        <div class="button-holder d-flex justify-content-center">
<!--            <button type="submit" class="btn btn-info  mb-3">Add animal</button>-->
            <button type="submit" class="btn btn-primary">Add animal</button>
            <a th:href="@{'/home'}" class="btn btn-secondary">Cancel</a>

        </div>
    </form>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
