<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <div class="welcome mb-4 mt-1">
        <h2 class="mySticky text-dark">Add Animal</h2>
        <div>
            <form th:method="POST" th:action="@{/animals}" th:object="${animalRequest}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" th:field="*{name}"/>
            <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Error Here</small>
        </div>

        <div class="form-group">
            <label for="type">Type</label>
            <select class="browser-default custom-select" id="type" name="style" th:field="*{type}">
                <option th:each="type : ${T(app.animal.model.Type).values()}" th:value="${type}" th:text="${#strings.capitalize(#strings.toLowerCase(type))}">A</option>
            </select>
            <small th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="text-danger">Error Here</small>
        </div>

        <div class="form-group">
            <label for="estimateDateOfBirth">Estimate Date Of Birth</label>
            <div>
                <input type="date" placeholder="Date" id="estimateDateOfBirth" name="estimateDateOfBirth" th:field="*{estimateDateOfBirth}">
            </div>
            <p><small th:if="${#fields.hasErrors('estimateDateOfBirth')}" th:errors="*{estimateDateOfBirth}" class="text-danger">Error Text Here</small></p>
        </div>

        <div class="form-group">
            <label for="gender">Gender</label>
            <select class="browser-default custom-select" id="gender" name="style" th:field="*{gender}">
                <option th:each="gender : ${T(app.animal.model.Gender).values()}" th:value="${gender}" th:text="${#strings.capitalize(#strings.toLowerCase(gender))}">A</option>
            </select>
            <small th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="text-danger">Error Here</small>
        </div>

        <div class="form-group">
            <div class="label-holder d-flex justify-content-center">
                <label for="neutered">Is Neutered</label>
            </div>
            <ul>
                    <input type="checkbox" id="neutered" name="neutered" th:checked="${animalRequest.neutered}" />
                Yes
            </ul>
            <small th:if="${#fields.hasErrors('neutered')}" th:errors="*{neutered}" class="text-danger">Error Here</small>
        </div>

        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="information">Information</label>
            </div>
            <input type="text" class="form-control" id="information" name="author" th:field="*{information}"/>
            <small th:if="${#fields.hasErrors('information')}" th:errors="*{information}" class="text-danger">Error Here</small>
        </div>

        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="country">Country</label>
            </div>
            <input type="text" class="form-control" id="country" name="author" th:field="*{country}"/>
            <small th:if="${#fields.hasErrors('country')}" th:errors="*{country}" class="text-danger">Error Here</small>
        </div>

        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="city">City</label>
            </div>
            <input type="text" class="form-control" id="city" name="author" th:field="*{city}"/>
            <small th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="text-danger">Error Here</small>
        </div>

        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="neighborhood">Neighborhood</label>
            </div>
            <input type="text" class="form-control" id="neighborhood" name="author" th:field="*{neighborhood}"/>
            <small th:if="${#fields.hasErrors('neighborhood')}" th:errors="*{neighborhood}" class="text-danger">Error Here</small>
        </div>
        <div class="form-group">
             <div class="label-holder textCol d-flex justify-content-center">
                 <label for="neighborhood">Profile picture</label>
             </div>
             <input type="file" class="form-control" id="animalProfilePicture" name="animalProfilePicture" th:field="*{animalProfilePicture}"/>
             <small th:if="${#fields.hasErrors('animalProfilePicture')}" th:errors="*{animalProfilePicture}" class="text-danger">Error Here</small>
        </div>
        <div class="form-group">
             <div class="label-holder textCol d-flex justify-content-center">
                  <label for="neighborhood">Animal pictures</label>
             </div>
             <input type="file" multiple class="form-control" id="animalPictures" name="animalPictures"/>
            <small th:if="${#fields.hasErrors('animalPictures')}" th:errors="*{animalPictures}" class="text-danger">Error Here</small>
        </div>
                <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Add animal</button>
            <a th:href="@{'/home'}" class="btn btn-secondary">Cancel</a>

        </div>
    </form>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
