<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body style="background-image: url('/img/background-1.jpg'); background-size: cover; background-repeat: no-repeat;">
<header th:replace="fragments/commons::nav"></header>
<main>
  <div class="welcome mt-1 mb-4">
    <h2 class="mySticky text-dark user">Error code: 404 - Not Found</h2>
    <div class="home-fields">
      <p>Sorry, we couldn't find that.</p>
      <a th:href="@{/home}" class="btn btn-primary">Go to Home</a>
    </div>
  </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>