<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
  <div class="welcome mt-1 mb-4">
    <h2 class="mySticky text-dark user" th:text="${(user.firstName != null && !user.firstName.isBlank()) ? (#strings.capitalize(#strings.toLowerCase(user.firstName))) + ' ' + (#strings.capitalize(#strings.toLowerCase(user.lastName))) + ' Profile' : user.username + ' Profile'}"></h2>
    <div class="container">
        <div class="row">
          <div class="col">
            <p>Profile image</p>
            <img th:src="${#strings.isEmpty(user.profilePicture) ? 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png' : 'http://localhost:8081/api/v1/pictures/view/'+ user.profilePicture}" alt="Profile Picture" class="profile-image">
          </div>
          <div class="col">
            <p>Information</p>
            <p th:text="'User Id: '+ ${user.id}"></p>
            <p th:text="'Username: '+ ${user.username}"></p>
            <p th:text="'Status: '+ (${user.active} ? 'Active' : 'Inactive')"></p>
            <p th:text="'First Name: '+ (${#strings.isEmpty(user.firstName) ? 'No data available' : #strings.capitalize(#strings.toLowerCase(user.firstName))})"></p>
            <p th:text="'Last Name: '+ (${#strings.isEmpty(user.lastName) ? 'No data available' : #strings.capitalize(#strings.toLowerCase(user.lastName))})"></p>
            <p th:text="'Email: '+ (${#strings.isEmpty(user.email) ? 'No data available' : user.email})"></p>
            <p th:text="'Phone Number: '+ (${#strings.isEmpty(user.phoneNumber) ? 'No data available' : user.phoneNumber})"></p>
            <p th:text="'Country: '+ ${#strings.capitalize(#strings.toLowerCase(user.location.country))}"></p>
            <p th:text="'City: '+ ${#strings.capitalize(#strings.toLowerCase(user.location.city))}"></p>
            <p th:text="'Neighborhood: '+ ${#strings.capitalize(#strings.toLowerCase(user.location.neighborhood))}"></p>
            <p th:text="'Joined: '+ ${#temporals.format(user.createdOn, 'dd MMM YYYY HH:mm')}"></p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a th:href="@{'/users/' + ${user.id} + '/edit-profile'}" class="btn btn-primary">Edit User Profile</a>
          </div>
        </div>
    </div>
  </div>

  <div class="welcome mt-1 mb-4 ">
    <div class="mt-1 mb-2 row">
      <div class="home-fields col">
        <h3 class="all-animals">Followed Animals</h3>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Information</th>
            <th>Added on</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="animal : ${user.followedAnimals}">
            <td>
              <a th:href="@{'/animals/' + ${animal.id} + '/profile'}"
                 th:text="${#strings.capitalize(#strings.toLowerCase(animal.name))}"></a>
            </td>
            <td th:text="${#strings.capitalize(#strings.toLowerCase(animal.type.name()))}"></td>
            <td th:text="${#strings.capitalize(#strings.toLowerCase(animal.information))}"></td>
            <td th:text="${#temporals.format(animal.createdOn, 'dd MMM YYYY HH:mm')}"></td>
            <td>
              <form th:action="@{'/animals/followed/' + ${animal.id}}" th:method="DELETE">
                <button class="btn btn-sm btn-outline-dark">Unfollow</button>
              </form>
            </td>

          </tr>
          </tbody>
        </table>
      </div>

      <div class="home-fields col">
        <h3 class="all-animals">My Actions</h3>


          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>Animal</th>
              <th>Type</th>
              <th>Description</th>
              <th>Added on</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="action : ${user.actions}">
              <td>
                <a th:href="@{'/animals/' + ${action.animal.id} + '/profile'}"
                   th:text="${#strings.capitalize(#strings.toLowerCase(action.animal.name))}"></a>
              </td>
              <td th:text="${#strings.capitalize(#strings.toLowerCase(action.type.name()))}"></td>
              <td th:text="${#strings.capitalize(#strings.toLowerCase(action.description))}"></td>
              <td th:text="${#temporals.format(action.createdOn, 'dd MMM YYYY HH:mm')}"></td>
              <td>
                <a th:href="@{'/actions/' + ${action.id}}">Go to action</a>
              </td>
            </tr>
            </tbody>
          </table>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>