<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <div class="welcome mt-1 mb-4" style="width: 90%; margin: 0 auto;">
        <p class="mySticky bg-gray text-dark user" th:text="${user.firstName != null ? user.firstName + ' ' + user.lastName + ' Profile' : user.username + ' Profile'}"></p>
        <div class="mt-1 mb-2" style="text-align: left;">
            <p th:text="'Username: ' + ${user.username}"></p>
            <p th:if="${user.firstName != null}" th:text="'First Name: ' + ${user.firstName}"></p>
            <p th:if="${user.lastName != null}" th:text="'Last Name: ' + ${user.lastName}"></p>
            <p th:if="${user.email != null}" th:text="'Email: ' + ${user.email}"></p>
            <p th:if="${user.phoneNumber != null}" th:text="'Phone Number: ' + ${user.phoneNumber}"></p>
            <p th:if="${user.location.country != null}" th:text="'Country: ' + ${user.location.country}"></p>
            <p th:if="${user.location.city != null}" th:text="'City: ' + ${user.location.city}"></p>
            <p th:if="${user.location.neighborhood != null}" th:text="'Address: ' + ${user.location.neighborhood}"></p>
            <p th:text="'Role: ' + ${user.role}"></p>
            <p th:text="'Active: ' + ${user.isActive}"></p>
            <a th:href="@{'/users/' + ${user.id} + '/profile'}" class="btn btn-primary">Edit Profile</a>
        </div>
    </div>

    <div class="welcome mt-1 mb-4" style="width: 90%; margin: 0 auto;">
        <div class="mt-1 mb-2">
            <div class="home-fields" style="height: 58vh; overflow: auto; width: 49%; float: left; margin-right: 1%;">
                <h3 class="all-animals">Followed Animals</h3>
                <ul class="list-group list-group-vertical text-dark">
                    <li th:each="animal : ${user.followedAnimals}">
                        <div class="my-paintings-first-row">
                            <a th:href="@{'/animals/' + ${animal.id} + '/profile'}" th:text="${animal.name}"></a>
                            <p th:text="'Type: ' + ${animal.type}"></p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="home-fields" style="height: 58vh; overflow: auto; width: 49%; float: left;">
                <h3 class="all-animals">Actions</h3>
                <ul class="list-group list-group-vertical text-dark">
                    <li th:each="action : ${user.actions}">
                        <div class="my-paintings-first-row">
                            <p th:text="${action.description}"></p>
                            <p th:text="'Type: ' + ${#strings.capitalize(#strings.toLowerCase(action.type.name()))}"></p>
                            <p th:text="'Date: ' + ${#temporals.format(action.createdOn, 'yyyy-MM-dd HH:mm')}"></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>